/* variable */

/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* base style */
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.search-button {
  width: 20px;
  height: 20px;
}
/* font */

/* mobile style */
* {
  margin: 0px;
}
.all{
  margin: auto;
}
body {
  width: 375px;
}
.header {
  width: 375px;
  background-color: #2D3748;
}
.brand {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  color: #fff;
  border: none !important;
  flex-shrink: 1;
}
.navbar {
  width: 100px;
  height: 60px;
  border: none !important;
  flex-shrink: 1;
}
.mobile-menu {
  justify-content: space-between;
}
.brand-logo {
  margin-left: 10px;
  width: 43.1px;
  height: 43.1px;
}
.brand-name {
  font-family: "Akaya Telivigala", cursive;
  font-size: 40px;
}
.collapse {
}
.fix {
  flex-direction: column;
}
.list-menu {
  width: 167px;
  height: 108px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.menu-item {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 17.52px;
}
.user-info {
  align-items: center;
  justify-content: flex-start;
}
.user-avatar {
  width: 94px;
  height: 63px;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}
.user-avatar > img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.user-name {
  color: #fff;
  width: 105px;
  height: 27px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 17.52px;
}
.account {
  width: 219px;
  height: 104px;
  margin: 0px 135px 14px 21px;
  flex-direction: column;
  justify-content: space-evenly;
}
.account-items {
  color: #cbd5e0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 17.52px;
}
.menu {
  margin-top: 0px;
  background-color: #2d3748;
  align-items: center;
  justify-content: space-evenly;
}
.search-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 230px;
  background-color: #2d3748;
}

.input-group {
  border-radius: 10px !important;
  background-color: #1a202c;
}
.form-control {
  background-color: #1a202c;
}
.form-control:focus {
  background-color: #1a202c;
  border: none !important;
}
.filter {
  background-color: #4a5568;
  width: 104px;
  height: 40px;
  border-radius: 8px;
  justify-content: space-evenly;
  align-items: center;
}
.filter-text > a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  
}
#filter-form{
  position: absolute;
  z-index: 2;
  margin-bottom: 20px;
  flex-direction: column;
  width: 375px;
  background-color: #2D3748;
}
.room-option {
  width: 100%;
  background-color: #2D3748;
  grid-template-rows: 97px 97px;
  grid-template-columns: 1fr 1fr;
  
}
.bedrooms {
  flex-grow: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.bedrooms > span {
  font-family: "Poppins", sans-serif;
  color: grey;
  font-size: 14px;
  height: 14px;
  width: 69px;
  margin-left: 20px;
  margin-bottom: 6px;
}
#bedroom{
    width: 162px;
    height: 40px;
    margin-left: 20px;
    margin-top: 6px;
    border-radius: 8px;
    background: #4A5568;
    color: white;
}
.bathroom {
  flex-grow: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.bathroom>span{
    font-family: "Poppins", sans-serif;
    color: grey;
    font-size: 14px;
    height: 14px;
    width: 69px;
    margin-left: 20px;
    margin-bottom: 6px;
}
#bathroom{
    width: 162px;
    height: 40px;
    margin-left: 20px;
    margin-top: 6px;
    border-radius: 8px;
    background: #4A5568;
    color: white;
}
.price-option {
  background-color: #2D3748;
  margin-top: 32px;
  grid-column: 1/ span 2;
  margin-left: 19px;
}
.price-option>span{
  font-family: "Poppins", sans-serif;
  color: grey;
  font-size: 14px;
  height: 14px;
  width: 69px;
  margin-bottom: 8px;
}
#price-range{
  height: 40px;
  width: 344px;
  background-color: #4A5568;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 20px;
  color: #fff;
}
.range{
  color: #fff;
}
.rim{
  margin-top: 20px;
  width:100%;
  height: 1px;
  background-color: #1a202c;

}
.property-option{
  margin-top: 20px;
  height: 219px;
}
.title-option{
  font-family: "Poppins", sans-serif;
  color: grey;
  font-size: 14px;
  height: 14px;
  width: 69px;
  margin-left: 20px;
  margin-bottom: 18px;
}
/*property - checkbox*/
/* The container */
.property-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 21px;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.property-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: #1a202c;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.property-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.property-container input:checked ~ .checkmark {
  background-color: #667EEA;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.property-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.property-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.amenities-option{
  margin-top: 27px;
  height: 307px;
}
/* The Amentities-container */
.Amentities-title{
  margin-top: 22px;
}
.Amentities-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 23px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.Amentities-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.Amentities-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 5px;
  background-color: #1a202c;
}

/* On mouse-over, add a grey background color */
.Amentities-container:hover input ~ .Amentities-checkmark {
  background-color: #1a202c;
}

/* When the checkbox is checked, add a blue background */
.Amentities-container input:checked ~ .Amentities-checkmark {
  background-color: #667EEA;
}

/* Create the checkmark/indicator (hidden when not checked) */
.Amentities-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.Amentities-container input:checked ~ .Amentities-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.Amentities-container .Amentities-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Update field*/
.update-filed{
  height: 80px;
  width: 375px;
  background-color: #2D3748;
  position: fixed;
  top: 0;
}
.update-button{
  width: 336px;
  height: 40px;
  background-color: #667EEA;
  border-radius: 8px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 20px 22px 20px 20px;
}

.main {
  grid-template-rows: auto 1fr;
  grid-auto-flow: row;
  grid-auto-rows: 353px;
}
.city {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 21.9px;
  margin-top: 32px;
  margin-left: 17px;
  margin-right: 114px;
  margin-bottom: 5px;
  width: 244px;
  height: 23px;
}
.city-introduce {
  width: 340px;
  font-size: 16px;
  line-height: 109.5%;
  font-family: "Poppins", sans-serif;
  margin: 17px 18px;
  color: gray;
}
.cards {
  grid-template-rows: 353px;
  grid-auto-rows: 353px;
  grid-auto-columns: 353px;
  grid-row-gap: 10px;
}
.card {
  position: relative;
  margin-left: 17px;
}
.card > img {
  border-radius: 8px;
}
.card-info {
  position: absolute;
  height: 144px;
  width: 320px;
  left: 10px;
  top: 209px;
  right: 10px;
  bottom: -13px;
  border-radius: 8px;
  background-color: #fff;

  /* Shadows/shadow-lg */

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.plus {
  position: absolute;
  width: 49px;
  height: 19px;
  top: 23px;
  left: 19px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 19px;
  /* identical to box height, or 13px */

  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  /* Teal/800 */

  color: #285e61;
  background: #b2f5ea;
  border-radius: 18px;
}
.status {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  width: 183px;
  height: 19px;
  line-height: 19px;
  color: #718096;

  position: absolute;
  top: 23px;
  left: 80px;
}

.no-p {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  width: 183px;
  height: 19px;
  line-height: 19px;
  color: #718096;

  position: absolute;
  top: 23px;
  left: 19px;
}
.title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;

  position: absolute;
  top: 47px;
  left: 19px;
}
.price {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #4a5568;

  position: absolute;
  left: 19px;
  top: 79px;
}
.star {
  position: absolute;
  left: 19px;
  top: 111px;
}
/* small tablet */
@media screen and (min-width: 640px) {
}

/* tablet style */
@media (min-width: 1024px) {
  *{
    padding: 0px;
  }
  .all{
    width: 100vw;
  }
  body{
    width: 100vw;
    margin: 0px
  }
  .all{
    width: 100%;
  }
  .header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 355.2px;
    grid-template-rows: 60px 60px 1fr;
    grid-auto-rows: 356px;
  }
  .navbar-toggler{
    display: none;
  }
  #navbarToggleExternalContent{
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 272px 75.2px;
    grid-column: 2 / span 1;
    background-color: #2D3748 !important;
  }
  .mobile-menu{
    grid-column: 1 / span 1;
    display: grid;
  }
  .fix-menu{
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: grid;
    background-color: #2D3748 !important;
  }
  .fix{
    display: grid;
    grid-template-rows: 60px;
    grid-auto-columns: 272px 75.2px;
  }
  .menu{
    display: grid;
    grid-template-columns: 341px 1fr;
    grid-template-rows: 60px;
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    grid-auto-rows: 356px;
  }
  .search-bar{
    width: 320px;
    height: 40px;
    margin-bottom: 9px;
    margin-left: 14px;
  }
  .search-form{
  }
  .filter{
    justify-self: end;
    margin-right: 23px;
  }
  .list-menu{
    width: 272px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 60px;
  }
  .menu-item{
    font-size: 12px;
  }
  .user{
    width: 75.2px;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: 75.2px;
    grid-template-rows: 60px;
    background-color: #2D3748 !important;
  }
  .user-name{
    visibility: hidden;
  }
  .user-info{
    width: 75.2px;
    display: grid;
    grid-template-columns: 75.2px;
    grid-template-rows: 60px;
  }
  .account{
    visibility: hidden;
  }
  .user-avatar{
    display: grid;
    grid-template-columns: 75.2px;
  }
  #filter-form{
    position: absolute;
    top: 120px;
    width: 100%;
  }
  .fix-1024{
    display: grid;
    grid-template-columns: 17fr 12fr 22fr;
  }
  .property-option{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .amenities-option{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 14px ;
    grid-auto-rows: 1fr;
  }
  .update-field{
    grid-column: 1 / span 3;
    background-color: #1A202C;
  }
  .rim{
    display: none;
  }
  .main-content{
    display: grid;
    grid-template-rows: 101px;
    grid-auto-rows: 1fr;
  }
  .city-introduce{
    width: 570px;
    margin-top: 9px;
  }
  .cards{
    display: flex !important;
    justify-content: space-evenly;
  }
  .card{
    width: 300px;
    height: 300px;
  }
  .card-info{
    width: 280px;
    height: 144px;
  }
}

/* desktop style */
@media (min-width: 1200px) {
  body{
    width: 100vw;
    margin: 0px
  }
  .all{
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 1fr;
  }
  .header{
    width: 1280px;
    display: grid;
    grid-template-columns: 296px 1fr 1fr;
    grid-template-rows: 80px;
    grid-auto-flow: column;
    align-items: center;
    background-color: #fff;
  }
  .mobile-menu{
    background-color: #1A202C;
    height:80px;
    justify-content: center;
    align-items: center;
  }
  .menu{
    align-items: center;
    align-self: center;
    grid-row: 1 / span 1;
    grid-column: 2/ span 1;
    height: 80px;
    background-color: #fff !important
  }
  .fix-menu{
    background-color: #fff !important;
  }
  .list-menu{
    background-color: #fff !important;
  }
  .menu-item{
    color: black;
    font-weight: 600;
  }
  .filter{
    display: none;
  }
  #navbarToggleExternalContent{
    grid-column: 3 / span 1;
    justify-self: end;
    height: 80px;
    background-color: #fff !important;
  }
  .user{
    background-color: #FFF !important;
  }
  .navbar{
    display: none;
    background-color: #fff !important;
  }
  .form-control{
    background-color: #EDF2F7;
  }
  .form-control:focus{
    background-color: #EDF2F7;
  }
  .input-group{
    background-color: #EDF2F7;
  }
  .search-bar{
    margin-left: 21px;
    background-color: #EDF2F7;
    border-radius: 8px;
  }
  .rim{
    
  }
  #filter-form{
    display: block;
    position: absolute;
    width: 296px;
    height: 840px;
    top: 80px;
  }
  .room-option{
    display: grid;
    width: 296px;
  }
  .fix-1024{
    width: 296px;
    display: flex;
    flex-direction: column;
  }
  #bedroom{
    width: 118px;
  }
  #bathroom{
    width: 118px;
    margin-left: 5px !important;
  }
  #price-range{
    width: 256px;
  }
  .update-button{
    width: 256px;
  }
  .main{
    position: absolute;
    left: 296px;
    background-color: #EDF2F7;
  }
  .user{
    margin-right: 13.8px;
  }
}